@font-face {
  font-family: 'Berthold';
  src: url('fonts/Berthold Akzidenz Grotesk BE Su Regular.otf') format('opentype');
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.details_info {
  font-family: serif;
}

.retailers_href {
  font-family: serif;
}

.contact_email {
  font-family: serif;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
